functional frequirements
1. Update/Modify Patient Information
2. Backup data automatically
3. Separate authorization levels for different users
4. Automatically export information into medical forms
5. User feedback
6. A function to recover a lost password
7. The ability to access and share previous patient records
8. Comply with HIPAA guidelines governing patient information



non-functional requirements
Interface that is uer-friendly; Easy to navigate and functional
Quick response time 
The ability to store large amounts of data
