functional frequirements
1. Update/Modify Patient Information
2. Backup data automatically
3. Separate authorization levels for different users
4. Automatically export information into medical forms
5. User feedback
6. A function to recover a lost password
7. The ability to access and share previous patient records
8. Comply with HIPAA guidelines governing patient information
9. A notification system that alerts when a certain medical treatment is needed for patients
10. Add new patients to the system
11. Delete patients from the system
12. filters through categories that sort time/type of medication a patient takes
13. Lower-level access users can request to edit/delete information from a higher-access user
14. Patient needs the ability to contact their physcicians/ physicatrists through metacare

Non-functional requirements
1. Interface that is uer-friendly; Easy to navigate and functional
2. Quick response time 
3. The ability to store large amounts of data
4. Security/privacy for patient health records and personal information
